body {
    background-color: blanchedalmond;
}
body ul li{

    background-color: aqua;
    padding: 1rem;
    list-style: none;
    width: 100%rem;
   border-radius: 100%;
   text-align: center;
   
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.form1 {
    font-size: large;
    display:inline-flex;
    justify-content: space-evenly;

}
#ontop{
    display: flex;
    
    flex-direction: column;
}

#under{
    display: flex;
    flex-direction: column;
}